<p><strong>Bold</strong></p>

<p><em>Italic</em></p>

<p><s>Strikethrough</s></p>

<p>Super<sup>Script</sup></p>

<p>Sub<sub>Script</sub></p>

<p><a class="custom-class" href="https://www.ucdavis.edu" title="custom-title">https://www.ucdavis.edu</a></p>

<p><a href="/node/27754">Internal Node URL formatted by Pathologic filter</a></p>

<p><a href="#custom-anchor">Anchor Link</a></p>

<p><a id="custom-anchor" name="custom-anchor">Anchor Tag Destination</a></p>

<p style="margin-left:40px">Indent</p>

<p style="margin-left:80px">Indent More</p>

<p style="margin-left:120px">Indent Extreme</p>

<h2>Title</h2>

<h2 class="rtecenter">Title - center</h2>

<h2 class="rteright">Title - right</h2>

<h2 class="heading--underline">Title Intro</h2>

<h2 class="category-brand__text heading--centerline">Region Title</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet augue mi. Vestibulum vel interdum purus. Curabitur ultricies turpis eu iaculis posuere. Aliquam bibendum et orci sed gravida. Vestibulum aliquet at urna eu ultricies. Maecenas finibus placerat metus, quis hendrerit nisl egestas vitae. Integer eget libero vel est semper semper. Suspendisse lorem tellus, luctus eu risus nec, ullamcorper aliquet nisi. </p>

<h3>Subtitle</h3>

<h4>Subtitle 2</h4>

<h5>Subtitle 3</h5>

<p><a class="btn--primary" href="https://www.ucdavis.edu">Button</a></p>

<p><a class="btn--primary btn--lg" href="https://www.ucdavis.edu">Button - Large</a></p>

<p><a class="btn--primary btn--block" href="https://www.ucdavis.edu">Button - Block</a></p>

<p><a class="btn--alt" href="https://www.ucdavis.edu">Button Alt</a></p>

<p><a class="btn--alt btn--lg" href="https://www.ucdavis.edu">Button Alt - Block</a></p>

<p><a class="btn--alt btn--block" href="https://www.ucdavis.edu">Button Alt - Block</a></p>

<p><a class="btn--pill category-brand__btn--pill" href="https://www.ucdavis.edu">Button - Pill</a></p>

<p><a class="view-all" href="https://www.ucdavis.edu">Button - more...</a></p>

<p class="clear">Clear Aligns</p>

<div class="alert">Alert</div>

<div class="alert alert--success">Alert Success</div>

<div class="alert alert--warning">Alert Warning</div>

<div class="alert alert--error">Alert Error</div>

<p class="rtecenter">Text Center Aligned</p>

<p class="rteright">Text Right Aligned</p>

<p>Text Left Aligned</p>

<blockquote class="pullquote">
  <p>Pullquote</p>
</blockquote>

<blockquote class="pullquote--right">
  <p>Pullquote - Right</p>
</blockquote>

<p class="clear">&nbsp;</p>

<blockquote class="pullquote--left">
  <p>Pullquote - Left</p>
</blockquote>

<p class="clear">&nbsp;</p>

<p>&nbsp;</p>

<ul class="list--flush">
  <li>Flush List</li>
</ul>

<p>&nbsp;</p>

<ul class="list--bordered">
  <li>Bordered List</li>
</ul>

<p>&nbsp;</p>

<ul class="list--divided">
  <li>Divided List</li>
</ul>

<p>&nbsp;</p>

<ul class="list--faq">
  <li>FAQ List - question</li>
  <li>FAQ List - Answer</li>
</ul>

<p>&nbsp;</p>

<ul class="list--pipe">
  <li>Pipe List</li>
</ul>

<p>&nbsp;</p>

<ul class="list--link">
  <li><a href="#">Link List</a></li>
</ul>

<p>&nbsp;</p>

<ul class="l-column--2 list--link">
  <li>Link List - 2 Col</li>
</ul>

<p>&nbsp;</p>

<ul class="l-column--3 list--link">
  <li>Link List - 3 Col</li>
</ul>

<p>&nbsp;</p>

<ul class="l-column--2">
  <li>2 Column</li>
</ul>

<p>&nbsp;</p>

<ul class="l-column--3">
  <li>3 Column</li>
</ul>

<p>&nbsp;</p>

<ul class="l-column--4">
  <li>4 Column</li>
</ul>

<p>&nbsp;</p>

<ul class="l-column--5">
  <li>5 Column</li>
</ul>

<p class="clear">&nbsp;</p>

<h2>Widget - Full Bleed</h2>

<div class="full-bleed__wrapper">
  <div class="full-bleed__figure"><img alt="UC Davis" src="http://placehold.it/3000x1155" />Caption</div>
</div>

<p class="clear">&nbsp;</p>

<h2>Widget - Double Photo</h2>

<div class="double-photo__wrapper">
  <div class="double-photo__left"><img alt="UC Davis" src="http://placehold.it/1000x565" />Left Caption</div>

  <div class="double-photo__right"><img alt="UC Davis" src="http://placehold.it/1000x565" />Right Caption</div>
</div>

<p class="clear">&nbsp;</p>

<h2>Widget - Large Image</h2>

<div class="large-image__wrapper">
  <div class="large-image__figure"><img alt="UC Davis" src="http://placehold.it/2000x1125" />Caption</div>
</div>

<p class="clear">&nbsp;</p>

<h2>Widget - Media Link</h2>

<div class="media-link__wrapper" data-url="test">
  <div class="media-link__figure"><img alt="" src="http://placehold.it/135x135" /></div>

  <div class="media-link__body">
    <h3 class="media-link__title">Title</h3>

    <div class="media-link__content">
      <p>Content</p>
    </div>
  </div>
</div>

<p class="clear">&nbsp;</p>

<h2>Widget - Feature Block</h2>

<aside class="wysiwyg-feature-block width-half align-right">
  <h3 class="wysiwyg-feature-block__title">Title</h3>

  <div class="wysiwyg-feature-block__body">
    <p>Content</p>
  </div>
</aside>

<p class="clear">&nbsp;</p>

<h2>Widget - Person Feature</h2>

<aside class="clearfix person-feature width-half align-right">
  <div class="person-feature__image"><img alt="" src="http://placehold.it/64x80" /></div>

  <h2 class="person-feature__name">Name</h2>

  <h3 class="is-hidden person-feature__title">Title</h3>

  <div class="person-feature__body">
    <p>Content</p>
  </div>

  <div class="person-feature__link"><a href="#">Add a Link</a></div>
</aside>

<p class="clear">&nbsp;</p>

<h2>Images</h2>

<p><img alt="Some Alt Text" height="84" src="/sites/default/files/upload/files/amazon-music-image.jpg" width="209" />
</p>

<p class="align-center"><img alt="Some Alt Text" height="84"
                             src="/sites/default/files/upload/files/amazon-music-image.jpg" width="209" /></p>

<p><img alt="Some Alt Text" class="align-left" height="84"
        src="/sites/default/files/upload/files/amazon-music-image.jpg" width="209" /></p>

<p><img alt="Some Alt Text" class="align-right" height="84"
        src="/sites/default/files/upload/files/amazon-music-image.jpg" width="209" /></p>

<p class="clear">&nbsp;</p>

<h2>Images with Caption</h2>

<figure class="image"><img alt="Some Alt Text" height="84"
                           src="/sites/default/files/upload/files/amazon-music-image.jpg" width="209" />
  <figcaption>This is a caption</figcaption>
</figure>

<div class="align-center">
  <figure class="image"><img alt="Some Alt Text" height="84"
                             src="/sites/default/files/upload/files/amazon-music-image.jpg" width="209" />
    <figcaption>This is a caption for center-aligned</figcaption>
  </figure>
</div>

<figure class="image align-left"><img alt="Some Alt Text" height="84"
                                      src="/sites/default/files/upload/files/amazon-music-image.jpg" width="209" />
  <figcaption>This is a caption for left-aligned</figcaption>
</figure>

<figure class="image align-right"><img alt="Some Alt Text" height="84"
                                       src="/sites/default/files/upload/files/amazon-music-image.jpg" width="209" />
  <figcaption>This is a caption for right-aligned</figcaption>
</figure>

<p class="clear">&nbsp;</p>

<h2>Code Snippet</h2>

<pre>
<code class="language-php">&lt;?php

function do_something() {
  return 'hello world';
}

print do_something();</code></pre>

<hr />
<h2>Youtube via Iframely</h2>

<div data-oembed-url="https://youtu.be/y17RuWkWdn8">
  <div style="height:0; left:0; padding-bottom:56.25%; position:relative; width:100%"><iframe
    allow="encrypted-media; accelerometer; clipboard-write; gyroscope; picture-in-picture" allowfullscreen=""
    scrolling="no" src="https://www.youtube.com/embed/y17RuWkWdn8?rel=0"
    style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;"></iframe></div>
</div>

<p>&nbsp;</p>

<h2>Vimeo via Iframely</h2>

<div data-oembed-url="https://vimeo.com/415344150">
  <div style="height:0; left:0; padding-bottom:56.338%; position:relative; width:100%"><iframe allow="encrypted-media"
                                                                                               allowfullscreen="" scrolling="no"
                                                                                               src="https://player.vimeo.com/video/415344150?byline=0&amp;badge=0&amp;portrait=0&amp;title=0"
                                                                                               style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;"></iframe></div>
</div>

<p>&nbsp;</p>

<h2>Soundcloud Podcast via Iframely</h2>

<div data-oembed-url="//www.podbean.com/media/player/">
  <div class="responsive-iframe">&nbsp;</div>
  <iframe allow="autoplay" frameborder="no" height="166" scrolling="no"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/930620731%3Fsecret_token%3Ds-78WvCKheLwT&amp;color=%2300b5e2&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"
          width="100%">
  </iframe>
</div>

<p>&nbsp;</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet augue mi. Vestibulum vel interdum purus. Curabitur ultricies turpis eu iaculis posuere. Aliquam bibendum et orci sed gravida. Vestibulum aliquet at urna eu ultricies. Maecenas finibus placerat metus, quis hendrerit nisl egestas vitae. Integer eget libero vel est semper semper. Suspendisse lorem tellus, luctus eu risus nec, ullamcorper aliquet nisi. </p>
